@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="landing-home">
    <ul class="decoration">
        <li class="one"><img class="img-fluid" src="../assets/images/landing/decore/1.png" alt=""></li>
        <li class="two"><img class="img-fluid" src="../assets/images/landing/decore/2.png" alt=""></li>
        <li class="three"><img class="img-fluid" src="../assets/images/landing/decore/4.png" alt=""></li>
        <li class="four"><img class="img-fluid" src="../assets/images/landing/decore/3.png" alt=""></li>
        <li class="five"><img class="img-fluid" src="../assets/images/landing/2.png" alt=""></li>
        <li class="six"><img class="img-fluid" src="../assets/images/landing/decore/cloud.png" alt=""></li>
        <li class="seven"><img class="img-fluid" src="../assets/images/landing/2.png" alt=""></li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="content">
                    <div>
                        <h1 class="wow fadeIn">Chào mừng đến với</h1>
                        <h1 class="wow fadeIn">Cam House</h1>
                        <p class="mt-3 wow fadeIn">Hệ thống Homestay đầy đủ tiện nghi cùng các dịch vụ tuyệt vời đi kèm
                        </p>
                        <a href="#" class="btn btn-primary btn-lg">Đặt Phòng Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="wow fadeIn"><img class="screen1" src="~/images/bg-main-1.jpg" alt=""></div>
                <div class="wow fadeIn"><img class="screen2" src="~/images/bg-main-2.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>
<section class="section-space cuba-demo-section" id="layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content">
                    <div class="couting">
                        <h1>Khám Phá Cam House</h1>
                        <p class="mb-0">Đặt homestay, thuê nhà trọ, cho thuê xe, trải nghiệm dịch vụ và nhiều hơn nữa
                            tại <span class="text-primary">camhouse.vn</span></p>
                        <p>Đăng Nhập hoặc Đăng Ký để trải nghiệm!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row demo-imgs">
            @for (var i = 1; i <= 4; i++)
            {
                <div class="col-md-3 col-sm-6 col-12 wow pulse demo-content">
                    <div class="cuba-demo-img">
                        <div class="overflow-hidden"><img class="img-fluid"
                            src="../assets/images/landing/layout-images/dubai.jpg" alt="default"></div>
                        <div class="pt-3 text-start">
                            <p class="mb-1 text-success fw-bold">650.000đ/đêm</p>
                            <p>Phường Vĩnh Hải, Thành phố Nha Trang, tỉnh Khánh Hòa</p>
                        </div>
                    </div>
                    <div class="title-wrapper">
                        <div class="content">
                            <h3 class="theme-name mb-0">Dubai</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="section-space cuba-demo-section app_bg" id="frameworks">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content">
                    <div class="couting">
                        <h1>Khám Phá Cam House</h1>
                        <p class="mb-0">Đặt homestay, thuê nhà trọ, cho thuê xe, trải nghiệm dịch vụ và nhiều hơn nữa
                            tại <span class="text-primary">camhouse.vn</span></p>
                        <p>Đăng Nhập hoặc Đăng Ký để trải nghiệm!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row demo-imgs">
            @for (var i = 1; i <= 4; i++)
            {
                <div class="col-md-3 col-sm-6 col-12 wow pulse demo-content">
                    <div class="cuba-demo-img bg-white">
                        <div class="overflow-hidden"><img class="img-fluid"
                            src="../assets/images/landing/layout-images/dubai.jpg" alt="default"></div>
                        <div class="text-center pt-3">
                            <a class="btn btn-primary" href="#">Xem Phòng</a>
                            <a class="btn btn-outline-primary" href="#">Đặt Ngay</a>
                        </div>
                    </div>
                    <div class="title-wrapper">
                        <div class="content">
                            <h3 class="theme-name mb-0">Dubai</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="section-space cuba-demo-section bg-Widget pb-0 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content mt50">
                    <div class="couting">
                        <h2>Cards</h2>
                    </div>
                    <p>So many unique cards</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid o-hidden">
        <div class="row landing-cards">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-5 col-12"><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/1.jpg" alt=""></div>
                    <div class="col-sm-4 col-7"><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/2.jpg" alt=""></div>
                    <div class="col-sm-3 col-5"><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/3.jpg" alt=""></div>
                    <div class="col-sm-8 col-12">
                        <div class="row">
                            <div class="col-6"><img class="img-fluid landing-card"
                                    src="../assets/images/landing/cards/4.jpg" alt=""></div>
                            <div class="col-6"><img class="img-fluid landing-card"
                                    src="../assets/images/landing/cards/5.jpg" alt=""></div>
                            <div class="col-5"><img class="img-fluid landing-card"
                                    src="../assets/images/landing/cards/7.jpg" alt=""></div>
                            <div class="col-7"><img class="img-fluid landing-card"
                                    src="../assets/images/landing/cards/8.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="row">
                            <div class="col-sm-12 col-6"><img class="img-fluid landing-card"
                                    src="../assets/images/landing/cards/6.jpg" alt=""></div>
                            <div class="col-sm-12 col-6"><img class="img-fluid landing-card"
                                    src="../assets/images/landing/cards/9.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-4"><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/10.jpg" alt=""></div>
                    <div class="col-md-6 col-sm-4"><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/15.jpg" alt=""><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/11.jpg" alt=""><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/21.jpg" alt=""></div>
                    <div class="col-md-6 col-sm-4"><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/14.jpg" alt=""><img class="img-fluid landing-card"
                            src="../assets/images/landing/cards/13.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-space cuba-demo-section" id="applications">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content mt50">
                    <div class="couting">
                        <h2>20+</h2>
                    </div>
                    <p>Usefull application</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-modify apps">
        <div class="landing-slider">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/social-app.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/social-app.jpg" alt=""></a>
                    </div>
                    <h4>Social App</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/knowledgebase.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/knowlagebase-app.jpg"
                                alt=""></a></div>
                    <h4>knowledgebase</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/support-ticket.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/support-ticket-app.jpg"
                                alt=""></a></div>
                    <h4>Support Ticket</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/email-application.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/mail-app.jpg" alt=""></a></div>
                    <h4>Email Dashboard</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/to-do.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/todo_app.jpg" alt=""></a></div>
                    <h4>To-Do</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/job-cards-view.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/job-search-app.jpg" alt=""></a>
                    </div>
                    <h4>Job Search</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/product-page.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/ecommerce-app.jpg" alt=""></a>
                    </div>
                    <h4>Ecommerce</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/kanban.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/apps/kanban.jpg" alt=""></a>
                    </div>
                    <h4>Kanban</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/file-manager.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/apps/file.jpg" alt=""></a>
                    </div>
                    <h4>File Manager</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/projects.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/apps/project.jpg" alt=""></a>
                    </div>
                    <h4>Project</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/contacts.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/apps/contacts.jpg" alt=""></a>
                    </div>
                    <h4>Contacts</h4>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="img-effect mb-3"><a href="../theme/chat.html" target="_blank"><img
                                class="img-fluid cuba-img" src="../assets/images/landing/apps/chat.jpg" alt=""></a>
                    </div>
                    <h4>Chat</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-space cuba-demo-section app_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 wow pulse">
                <div class="cuba-demo-content email-txt text-start">
                    <div class="couting">
                        <h2> Email</h2>
                        <p> Cuba comes with below six email template.</p>
                        <ul class="landing-ul">
                            <li>Basic template</li>
                            <li>Basic With Header template</li>
                            <li>Ecommerce template</li>
                            <li>Ecommerce-2 template</li>
                            <li>Ecommerce-3 template</li>
                            <li>Order Success template</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 wow pulse"><a href="index.html"><img class="img-fluid email-img"
                        src="../assets/images/landing/email_section_img.png" alt=""></a></div>
        </div>
    </div>
</section>
<section class="section-space cuba-demo-section components-section" id="components">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content mt50">
                    <div class="couting">
                        <h2>UI</h2>
                    </div>
                    <p>Components</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-modify">
        <div class="row component_responsive">
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/1.png" alt="">
                    <h6 class="m-0 Pt-4">SweetAlert2</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/2.png" alt="">
                    <h6 class="m-0">Avatar</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/3.png" alt="">
                    <h6 class="m-0">Scrollable</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/4.png" alt="">
                    <h6 class="m-0">Tree view</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/5.png" alt="">
                    <h6 class="m-0">Bootstrap notify</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/6.png" alt="">
                    <h6 class="m-0">Rating </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/7.png" alt="">
                    <h6 class="m-0">Dropzone</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/8.png" alt="">
                    <h6 class="m-0">Tour</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/9.png" alt="">
                    <h6 class="m-0">Animated modal</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/10.png" alt="">
                    <h6 class="m-0">Owl Carousel</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/11.png" alt="">
                    <h6 class="m-0">Ribbons </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/12.png" alt="">
                    <h6 class="m-0">Pagination </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/13.png" alt="">
                    <h6 class="m-0">Steps </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/14.png" alt="">
                    <h6 class="m-0">Breadcrumb </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/15.png" alt="">
                    <h6 class="m-0">Range Slider </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/16.png" alt="">
                    <h6 class="m-0">image cropper </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/17.png" alt="">
                    <h6 class="m-0">Sticky </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/18.png" alt="">
                    <h6 class="m-0">Progress </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/19.png" alt="">
                    <h6 class="m-0">Tooltip </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/20.png" alt="">
                    <h6 class="m-0">Spinners </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/21.png" alt="">
                    <h6 class="m-0">Dropdown </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/22.png" alt="">
                    <h6 class="m-0">Tabs </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/23.png" alt="">
                    <h6 class="m-0">Accordion </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/24.png" alt="">
                    <h6 class="m-0">Navs</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/25.png" alt="">
                    <h6 class="m-0">Shadow</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/26.png" alt="">
                    <h6 class="m-0">state color</h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/27.png" alt="">
                    <h6 class="m-0">List </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/28.png" alt="">
                    <h6 class="m-0">Grid </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/29.png" alt="">
                    <h6 class="m-0">Helper classes </h6>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <img src="../assets/images/landing/icon/30.png" alt="">
                    <h6 class="m-0">Typography</h6>
                </div>
            </div>
        </div>
    </div>
</section>