@using System.Linq
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
  ViewData["Title"] = "Đăng Nhập";
  Layout = "/Views/Shared/Account/_AuthLayout.cshtml";
}
<div class="row">
  <div class="col-12 p-0">
    <div class="login-card">
      <div class="login-main">
        <a class="logo text-start" href="index.html">
          <img class="img-fluid for-light" src="../assets/images/logo/login.png" alt="looginpage">
          <img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt="looginpage">
        </a>
        <form class="theme-form" asp-route-returnurl='@ViewData["ReturnUrl"]' method="post">
          <h4>Đăng Nhập</h4>
          <p>Dùng Email đã đăng ký và mật khẩu của bạn</p>
          <div asp-validation-summary="All" class="text-danger"></div>
          <div class="form-group">
            <label asp-for="Email" class="col-form-label"></label>
            <input asp-for="Email" class="form-control">
          </div>
          <div class="form-group">
            <label asp-for="Password" class="col-form-label"></label>
            <input asp-for="Password" class="form-control">
          </div>
          <div class="form-group mb-0">
            <div class="checkbox p-0">
              <input asp-for="RememberMe" type="checkbox">
              <label class="text-muted" asp-for="RememberMe"></label>
            </div>
            <a class="link" asp-action="ForgotPassword">Quên mật khẩu?</a>
            <div class="text-end mt-3">
              <button class="btn btn-primary btn-block w-100" type="submit">Đăng Nhập</button>
            </div>
          </div>
          @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count != 0)
            {
              <h6 class="text-muted mt-4 text-center">Hoặc đăng nhập với</h6>
              <div class="social mt-4">
                <form asp-action="ExternalLogin" asp-route-returnurl='@ViewData["ReturnUrl"]' method="post" class="form-horizontal">
                  @foreach (var provider in loginProviders)
                  {
                    <button class="btn btn-@provider.Name.ToLower() w-100 mt-2" name="provider" value="@provider.Name" type="submit"><i class="txt-fb" data-feather="facebook"></i>@provider.Name</button>
                  }
                </form>
              </div>
            }
          }
          <p class="mt-4 mb-0 text-center">Bạn chưa có tài khoản?<a class="ms-2" asp-action="Register">Tạo tài khoản ngay</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
@await Html.PartialAsync("_ValidationScriptsPartial")
}
